<div class="container-fluid">
  <div class="row learner">
    <div class="col-lg-10 col-lg-offset-1">

      <h2 class="followers-title">Followers</h2>

      <%= render 'follow', followings: @followers %>

    </div>
  </div>
</div>