<div class="container">

  <div class="row">

  	<div class="about-content center-block">

  	  <div class="about-content-item">
  	  	<h2 class="content-title">1.Ask</h2>
  	  	<p class="content-text">When you are learning foreign languages, sometimes there must be something you can't understand...  If so, come here and ask someone who lives all over the world! </p>
  	  </div>

  	  <div class="about-content-item">
  	  	<h2 class="content-title">2.Help</h2>
  	  	<p class="content-text">After you posted some questions, Peole all over the world will help you. And also, please help someone who has some questions!</p>
  	  </div>

  	  <div class="about-content-item">
  	  	<h2 class="content-title">3.Level Up</h2>
  	  	<p class="content-text">Let's enhance our language levels together by asking questions, teaching and having conversations!!! </p>
  	  </div>


    </div>

  </div>

</div>