<div class="container">

  <div class="earth center-block">
  	<p class="main-title">
      HELLO WORLD
    </p>
    <p class="main-text">
      If you want to learn foreign languages,
      come here and connect with people
          all over the world!<br>
      <%= link_to "Let's learn", new_learner_registration_path, class: "btn btn-success" %>
    </p>
  </div>

</div>
