<div class="container">

    <div class="row post-index">



      <!-- post index -->
      <div class="col-xs-12 post-index-right">
        <% @posts.each do |post| %>
        <div class="post-content-box <%= post.id %>">

          <%= render 'post', post: post %>

        </div>

        <% end %>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->