<div class="container">

  <div class="row post-index">

      <h2 class="index-main-title"><span class="question-color">Questions</span>/<span class="tweet-color">Tweets</span></h2>

      <!-- post index -->
      <div class="col-xs-12 post-index-right">
        <% @posts.each do |post| %>
          <% if post.genre == true %>
            <div class="post-content-box <%= post.id %>", style="background-color: orange;">
          <% else %>
            <div class="post-content-box <%= post.id %>", style="background-color: blue;">
          <% end %>

              <%= render 'post', post: post %>

            </div>

        <% end %>

      </div>
      <!-- // -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->