<div class="container">

  <div class="row post-index">

      <h2 class="index-main-title"><span class="question-color"><%= link_to 'Questions', question_path, class: "text-decoration", remote: true %></span>/<span class="tweet-color"><%= link_to 'Tweets', tweet_path, remote: true %></span></h2>

      <!-- post index -->
      <div class="col-xs-12 post-index-right">

        <%= render 'question', posts: @posts %>

      </div>
      <!-- // -->

      <!-- pagination -->
      <div class="paginate">
        <%= paginate @posts %>
      </div>
      <!-- // -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->