<div class="container-fluid">
  <div class="row">
    <div class="col-xs-9 col-xs-3">
      <div class="post-image">
        <%= attachment_image_tag @post, :image, :fill, 60, 60, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb" %>
      </div>

      <div class="post-title">
        <%= @post.title %>
      </div>
      <div class="post-body">
        <%= @post.body %>
      </div>
    </div>
  </div>
</div>