.header {
  position: fixed;
  width: 100%;
  background-color: skyblue;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    padding: 5px;
  }
  &__right {
    width: 40%
  }
  &__link {
    padding: 0 10px;
    color: black;
  }
}