// Place all the styles related to the learners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.learner-show {
  magrin-top: 50px;
}

.table {
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 8px white;
  background-color: white;
}
