// Place all the styles related to the learners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// 学習者詳細画面

.learner-info {
  width: 50%;
}

.learner-block {
  margin-top: 80px;
}

.learner-image {
  text-align: center;
  padding-top: 10px;
}

.learner-nickname {
  font-size: 30px;
  color: white;
}

.info-item {
  font-size: 20px;
  color: white;
}

span {
  font-size: 20px;
  color: white;
}

.country {
  border-bottom: 1px solid white;
}

.native {
  border-bottom: 1px solid white;
}

.learning {
  border-bottom: 1px solid white;
}

.intro-detail {
  border-bottom: 1px solid white;
}

.learner-update-success {
  font-size: 20px;
  color: white;
}

// 学習者編集画面

.learner-edit-form {
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: 0 0 8px white;
  background-color: white;
}

.learner-edit-title {
  text-align: center;
}

.edit-left {
  text-align: center;
}

.edit-profile-image {
  padding-top: 20px;
  margin-left: 70px;
}

.image{
  margin-left: 48px;
  margin-bottom: 30px;
}

.profile-image-form {
  margin-left: 80px;
}

.edit-font {
  font-size: 20px;
  color: black;
}

.edit-nickname {
  margin-left: 90px;
}

.edit-intro {
  margin-left: 90px;
}

.edit-country {
  margin-left: 90px;
}

.select-style {
  width: 150px;
}

.edit-learning {
  margin-left: 90px;
}

.edit-native {
  margin-left: 90px;
  margin-bottom: 10px;
}

.edit-update {
  margin: 15px;
}

.img_prev:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1,1, 1.1);
}


// 学習者一覧画面

.index-learners-title {
  text-align: center;
  margin-top: 90px;
  color: white;
}

.learners-index {
  margin-top: 40px;
}

.learners-index th {
  font-size: 20px;
}

.learners-index th {
  font-size: 20px;
  color: white;
}

.learners-index td {
  font-size: 18px;
  color: white;
 }

 .nickname-decoration {
  color: orange;
 }

.nickname-decoration:hover {
  text-decoration:underline;
  color: orange;
}