// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 新規投稿画面

.post-new-form {
  margin-top: 150px;
}

.post-form {
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 8px white;
  background-color: rgba(0, 0, 0, 0.5);
}

.img-responsive:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.05, 1.05);
}



// 投稿一覧画面

.post-index {
  margin-top: 100px;
}

.index-main-title {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.post-index-right {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.post-content-box {
  width: 30%;
  margin: 10px;
  background-color: blue;
}

.post-content {
  width: 90%;
  margin: 15px;
  background-color: white;
}

.learner-image-left {
  padding: 25px 150px 25px 5px;
}

.nickname {
}

.post-title-center {
  text-align: center;
  font-size: 20px;
}

.blank-space {
  height: 10px;
}

.post-body {
  margin-left: 10px;
}

.post-index-image {
  padding-top: 20px;
}

.post-footer {
  padding-top: 25px;
}

.comment-icon {
  margin: 0 20px 0 10px;
}

.good-icon {
}


.red {
  color: red;
}

// 投稿詳細画面

.post-show {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 15px;
  border-radius: 20px;
  box-shadow: 0 0 8px white;
  background-color: white;
}

.post-show-content {
  margin-top: 200px;
}

.wrapper {
  display: flex;
  padding: 40px;
  justify-content: center;
}

.post-image {
  margin-right: 30px;
}

.box {
  width: 300px;
  height: 300px;
}

.profile-text {
  width: 45%;
  margin-left: 30px;
}

.post-title {
  text-align: center;
  font-size: 30px;
}

.body-text {
  padding-top: 30px;
  font-size: 15px;
}

.links {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.edit-button {
  width: 100px;
  margin-right: 50px;
}

.destroy-button {
  width: 100px;
}

.btn {
  margin-top: 15px
}

// 投稿編集画面

.edit-form {
  margin-top: 150px;
}

.edit-box {
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 8px white;
  background-color: rgba(0, 0, 0, 0.5);
}
