// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// フォロー一覧画面

.following-title {
  margin-top: 80px;
  text-align: center;
  color: white;
}

// フォロワー一覧

.followers-title {
  margin-top: 80px;
  text-align: center;
  color: white;
}

// 共通

.relationship-nickname {
  color: orange;
}

.relationship-nickname:hover {
  text-decoration:underline;
  color: ogange;
}